.navbar {
    display: inline-block;
}
#HyperLink7,#HyperLink8,#HyperLink5,#HyperLink6,#HyperLink2,#HyperLink1{
    text-decoration:none;
}

.navbar:hover{
   background-color:gray; 
    
}

